body {
    color:#0749AD;
    background-color:#d49e32;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
    font-size:40pt;
    text-align:center;
}

header {
    text-align:center;
}

/* Hero Styles */

#hero, footer {
    text-align:center;
    background-color:#AD7C18;
    padding:20px;
    border:2px solid #3c87fa;
}

#hero img {
    width:50vw;
    max-width:500px;
    min-width:300px;
}

/* Biography */

#bio {
    text-align:center;
}

/* Hobbies */

#hobbies {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#hobbies h2 {
    margin: .5ex 0px;
}

#hobbies ul li {
    text-align:left;
}

#hobbies ul li:nth-child(3n+1) {
    color:#3c87fa;
}
#hobbies ul li:nth-child(3n+2) {
    color:red;
}

/* Photo Gallery */

#gallery {
    border: 2px solid #0749AD;
    text-align:center;
}

#gallery img {
    max-width:100%;
}





/* Lit Section */

#lit p:nth-child(odd)::first-letter {

    color:black;
    font-size: 230%;
    padding: 0.5ex;
    margin-right:.5ex;
    font-weight:bold;
    background-color:#eeeeee;
    text-shadow:2px 2px 2px rgba(0,0,0,.5);
    box-shadow:3px 3px 3px rgba(0,0,0,.5);
    border-top-left-radius:1em;

    float:left;
    border: 5px double black;

}

#lit {
    margin:3em;
}

/* Media Queries */

@media screen and (min-width: 768px) {

    #gallery figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    #gallery figcaption {
        display:flex;
        justify-content:center;
        align-items:center;
    }

    #lit div {
        max-width:100%;
        columns:30rem;
        text-align:justify;
    }

}

@media screen and (min-width:1200px) {

    #gallery {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
    #gallery hr {
        display:none;
    }
    #gallery h2 {
        grid-column:1/-1;
    }
    #gallery figure {
        display:block;
    }

}