body {
    color:#0749AD;
    background-color:#d49e32;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
    font-size:40pt;
    text-align:center;
}

header {
    text-align:center;
}

/* Hero Styles */

#hero, footer {
    text-align:center;
    background-color:#AD7C18;
    padding:20px;
    border:2px solid #3c87fa;
}

#hero img {
    width:50vw;
    max-width:500px;
    min-width:300px
}

/* Biography */

#bio {
    text-align:center;
}

/* Hobbies */

#hobbies ul {
    width:350px;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}

#hobbies ul li {
    text-align:left;
}

#hobbies ul li:nth-child(3n+1) {
    color:#3c87fa;
}
#hobbies ul li:nth-child(3n+2) {
    color:red;
}

/* Photo Gallery */

#gallery {
    border: 2px solid #0749AD;
    text-align:center;
}

#gallery img {
    max-width:100%;
}